* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Petemoss&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petemoss&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

body {
  background-image: url("https://www.minasgerais.com.br/imagens/atracoes/1560450887Y5x5sfyZIe.jpg");
  font-family: 'Anton', sans-serif, 'Baloo Bhai 2';
  color: azure;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;    
}

header{
  margin: 5px;
  padding: 10px;
  text-align: center;
  background: linear-gradient(to right, rgb(46, 220, 233), rgb(34, 143, 206), rgb(42, 61, 233));
  position: fixed;
  width: 100%;
  top: 0;
}

.container {
  margin-top: 100px;
}

h1 {
  font-family: 'Satisfy', cursive , sans-serif;
} 
  
h2 {
  font-family: 'Satisfy', cursive , sans-serif;
  text-align: center;
  font-size: 35px;
  padding: 5px;
}


 .texto{
  font-size: 25px;
  text-align: center;
  margin-top: 40px;
  padding: 10px 50px 50px;
}
 
iframe{
  width: 1200px;
  height: 720px;
  display:flex;
  margin: auto;
  position: -webkit-sticky;
}
 
.curiosidade {
  width: 45%;
  text-align: center;
  font-family: 'Petemoss', cursive, sans-serif;
  font-size: 14px;
  margin: auto;
  background-color: rgba(7, 0, 0, 0.897);
}

#rodape {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
}

.rodape , img{
  margin-right: 20px;
}

.list {
  font-size: 22px;
  list-style: none;
}

 /* formulario */
.formulario {
  margin: 0px 200px 0px 200px;
  background-color: rgba(23, 45, 241, 0.7);
  border-radius: 20px;
}

fieldset {
  margin: 30px;
  border: 4px violet solid;
  border-radius: 20px;
  padding: 20px;
}

legend {
  color: rgb(255, 239, 10);
  font-size: 20px;
  padding: 10px;
}

div {
  margin: 10px;
}

button {
  background-color: rgb(221, 62, 200);
  padding: 10px;
  margin: 0px 20px 30px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.5s;
}
 
button:hover{
  background-color: blueviolet;
}

.buttons-div {
  text-align: center;
}

input {
  width: 80%;
  height: 35px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  display: flexbox;
}

input:focus {
  outline: none;
  border-bottom: 2px rgb(86, 47, 228) solid;
  background-color: rgba(177, 206, 245, 0.836);
  width: 85%;
}

#idade, #data {
  width: 25%;
}

  #maioridade {
  width: 30px;
  font-size: 16px;
  height: 20px;
  margin: 5px;
 }

 select  {
  width: 60%;
  height: 35px;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
 }

 #interesse {
  width: 20px;
  font-size: 16px;
  height: 20px;
  margin: 20px;
  padding: 30px;
 }

#contato  {
  position:fixed; 
  top:12px; 
  right:25px; 
  width:250px;
  background-color: rgb(241, 14, 14);
  animation-name: contato;
  animation-iteration-count:infinite;
  animation-duration: 4s;
} 

#voltar  {
  position:fixed; 
  bottom: 12px;
  right:25px; 
  width:250px;
  background-color: rgb(241, 14, 14);
  animation-name: contato;
  animation-iteration-count:infinite;
  animation-duration: 4s;
 } 

@keyframes contato {
  from {background-color: rgb(192, 9, 9);}
  to {background-color: rgb(8, 192, 69);}
}